.wallpaper { 
	background-image: url("../Images/wallpaper2.png");
	background-size: 100%;
 }


.header { 
	font-family: 'Bangers', cursive;
	font-size: 40px;
	padding: 2%;
	color:white;
  }

.instruction {
	border: 2px solid greenyellow;
	padding: 2%;
	background-color: white; 
	opacity: 0.6; 
	font-family: 'Orbitron', sans-serif;
    color: black;
	font-weight: bold;
	line-height: 1.5em;

}

.randomNumber {
	border: 2px solid greenyellow;
	padding: 3%;
	background-color: white; 
	opacity: 0.6; 
	color: rgb(211, 10, 230);
	font-size: 200%; 
	font-family: 'Orbitron', sans-serif;
}

.totalWL { 
	border: 2px solid greenyellow;
	padding: 2%; 
	background-color: white; 
	opacity: 0.6; 
	font-family: 'Orbitron', sans-serif;
 }

 .totalScore {
 	border: 2px solid greenyellow; 
 	background-color: white; 
	opacity: 0.6; 
	font-family: 'Orbitron', sans-serif;
    color: red;
    font-weight: bold;

 }

 .crystalCount {
	border: 2px solid greenyellow; 
	background-color: white; 
   opacity: 0.6; 
   font-family: 'Orbitron', sans-serif;
   color: red;
   font-weight: bold;

}

 .scoreDisplay {
 	border: 2px solid greenyellow;
	padding: 3%; 
	background-color: white; 
	opacity: 0.6; 
	color: rgb(211, 10, 230);
	font-size: 200%;
	font-family: 'Orbitron', sans-serif;
 }

  .wins, .losses { 
	padding: 2%;
	color: red;
	line-height: 1.5em;
	font-weight: bold;
  }


